* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 500px;
    margin: 50px auto;
}
.card {
    position: relative;
    width: 300px;
    border: 1px solid red;
    padding: 10px;
}
.card img {
    width: 100%;
}
.sale {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: tomato;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-align: center;

}